<html>
  <body>
    <header>Mon Header</header>
    {% for label,messages in app.flashes(['success','error'])%}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <ul>
        <li> <a href="{{ path("create") }}"> create user </a> </li>
    </ul>
    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>Mon Footer</footer>
  </body>
</html>
