{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <tr>
            {% for head in header %}
                <th>{{head}}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for head in header %}
                    <td style="font-size:7px;">{{row[head]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}